body {
    margin: 0;
    line-height: normal;
  }
  
  .popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
  }
  
  
  :root {
    /* fonts */
    --font-gentium-basic: "Gentium Basic";
    --font-lobster: Lobster;
    --text-single-200-regular: "DM Sans";
    --font-playfair-display: "Playfair Display";
    --text-single-200-bold: Onest;
  
    /* font sizes */
    --font-size-xl: 20px;
    --font-size-25xl: 44px;
    --text-single-200-regular-size: 18px;
    --font-size-9xl: 28px;
    --headings-h3-size: 24px;
    --text-single-100-regular-size: 16px;
  
    /* Colors */
    --color-maroon: #8f1515;
    --neutral-colors-white: #fff;
    --color-darkgoldenrod: #cc9936;
    --neutral-colors-color-600: #d4d2e3;
    --neutral-colors-text-gray: #9795b5;
    --neutral-colors-color-900: #8e8ba7;
    --color-gray: #0b032b;
    --color-goldenrod: #e0c540;
    --neutral-colors-headings-black: #5d5a88;
    --color-black: #000;
    --color-whitesmoke-100: #f9f9f9;
    --color-whitesmoke-200: #f2f2f2;
    --neutral-colors-color-800: #adabc3;
    --primary-colors-color-1: #fb5660;
  
    /* Gaps */
    --gap-21xl: 40px;
    --gap-7xs: 6px;
    --gap-14xl: 33px;
    --gap-5xs: 8px;
    --gap-13xl: 32px;
    --gap-xs: 12px;
    --gap-3xs: 10px;
  
    /* Paddings */
    --padding-lg: 18px;
    --padding-5xl: 24px;
    --padding-9xl: 28px;
    --padding-37xl: 56px;
  
    /* Border radiuses */
    --br-5xs: 8px;
    --br-5xl: 24px;
    --br-xl: 20px;
    --br-31xl: 50px;
    --br-11xl: 30px;
    --br-77xl: 96px;
    --br-6xl: 25px;
    --br-28xl-3: 47.3px;
    --br-24xl: 43px;
    --br-84xl: 103px;
    --br-13xl: 32px;
  }